<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--1.开启SpringMVC注解模式，可以使用@RequestMapping，@PathVariable，@ResponseBody等-->
    <!--2.对静态资源处理，如js，css，jpg等-->
    <!--3.配置jsp 显示ViewResolver，例如在controller中某个方法返回一个string类型的”login”，实际上会返回”/WEB-INF/login.jsp”-->
    <!--4.扫描web层 @Controller-->

    <!--开启SpringMVC注解模式-->
    <mvc:annotation-driven/>
    <!--扫描web相关的bean-->
    <context:component-scan base-package="com.pictures.controller"/>
    <!--静态资源默认servlet配置-->
    <mvc:default-servlet-handler/>
    <!--配置jsp 显示ViewResolver-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!-- 上传文件解析器 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
        <!-- 最大内存大小 -->
        <property name="maxInMemorySize" value="10240"/>
        <!-- 最大文件大小，-1为不限制大小 -->
        <property name="maxUploadSize" value="-1"/>
    </bean>
    <!--全局拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.pictures.interceptors.LoginHandlerInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
    <!--全局异常捕捉 -->
    <bean class="com.pictures.exception.GlobalExceptionResolver"/>
</beans>